
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

html, body{
	height: 100%;
	margin: 0;
	background-color: #E8E3D0;
}

.title-textbox{
	width: 100 px;
	padding: 20 px;
	border: 2px solid red
	box-sizing: border-box;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;

	font-family:"Libre Barcode 128 Text", system-ui, sans-serif;
	color: #4F5056;
	font-size: 260px;
	font-weight: 100;
}