
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Imprima&family=Jacquarda+Bastarda+9&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

html, body{
	height: 100%;
	margin: 0;
	background-color: #ddd8c8dd;
}

.title1{
	width: 440px;

	position: absolute;
	top: 0;
	left:0;

	margin: 0;

	box-sizing: border-box;
	overflow-wrap: break-word;
	white-space: normal;

	font-family:"Libre Barcode 128 Text", system-ui, sans-serif;
	color: rgb(44, 71, 77);
	font-size: clamp(200px, 20vw, 270px);
	font-weight: 100;
}

.typewriter-container {
    transform: translateY(-50%);
    text-align: right;
	width: 80px;
	padding-right: clamp(100px, 20vw, 300px);

	margin: 0;

	position: absolute;
	right: 0;
	top: 120px;
}

.typewriter {
    font-family:"Jacquarda Bastarda 9", serif;
    /*font-size: 100px;*/
	font-size: clamp(50px, 10vw, 100px);
	font-weight: 100;
    color: #644968;
    border-right: 7px solid rgb(45, 42, 42); 
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% {
        border-color:rgb(176, 184, 32);
    }
    51%, 100% {
        border-color: transparent;
    }
}


.video-img-group{
	position: relative;
    width: 100%;
    min-height: 600px;
}

.title3{
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, -50%);

	color:black;
	font-size: clamp(120px, 20vw, 270px);
	font-weight: 400;
	font-family: "Judson", serif;
}


/* ok now the style shi for the drop-down menu at the top */

.menu-container{
	position: fixed;
	top: 20px;
	margin: 0;
	right: 20px;
	z-index:1000;
}

.menu-button{
	background-color: #4F5056;
	/*border-radius: 6px;*/
	width: 60px;
	height: 60px;
	transition: all 0.3s ease;
	position: relative;
	cursor: pointer;
	padding-right: 40px;
}

.menu-button.expanded{
	width: 750px;
	height: 80px;
	background-color:cadetblue;
}

.plus-sign{
	position: absolute;
	top: 50%;
	right: -2px;
	transform: translateY(-50%);
	font-size: 37px;
	color: black;
	transition: opacity 0.3s ease;
	pointer-events: none;
	z-index: 10;
}

.plus-sign.hidden{
	opacity: 0;
}

.menu-items{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;
	position: relative;
	z-index: 15;
	color:black;
}

.menu-items.visible{
	opacity: 1;
}

.menu-item{
	width: 100%;
	padding: 12px 20px;
	color:black;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-size: 18px;
}

.menu-item:hover{
	background-color:antiquewhite;
	opacity: 0.3;
	height: 40px;
	/*border-radius: 8px;*/
}

.menu-text{
	font-weight: 500;
}


/* front page video */
.video-text-sandwich {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 100px;
}

.video-top {
    width: 920px;
    height: 340px; 
	object-fit: cover;
    overflow: hidden;
    position: relative;
	transform: translateX(-10%);
	mix-blend-mode: multiply;
	opacity: 0.8;

}

.video-bottom {
	width: 100px; 
    height: 340px; 
	object-fit: cover;
    overflow: hidden;
    position: absolute;
	transform: translateX(460px);
	top: 180px;
}

.img1{
	width: 580px;
	height: 210px;
	object-fit: cover;
	top: 190px;
	position: absolute;
	transform: translateX(800px);
	mix-blend-mode: difference;
}

#ascii-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', monospace;
    font-size: 30px;
	opacity: 1;
    color: #322c36;
    pointer-events: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    grid-template-rows: repeat(auto-fill, 60px);
	mix-blend-mode: difference;
	gap: 20px;
}

.ascii-char {
    text-align: center;
    cursor: default;
    transition: none;
}

.p1{
	position: absolute;
	top: 650px;
	left: 52%;
	transform: translate(-50%, -50%);

	max-height: 50px;
	color:rgb(134, 140, 31);
	font-size: clamp(20px, 3vw, 27px);
	font-weight: 400;
	font-family: "Helvetica";
}

/* image line */

.image-container {
    width: 100%;
	min-width: 800px;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    transition: none;
    gap: 40px;
}

.image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.image-wrapper.pixelating img {
    image-rendering: pixelated;
    animation: pixelate 0.5s steps(5);
}

@keyframes pixelate {
  0% {
    filter: none;
  }
  30% {
    filter: url(#pixelate) brightness(1.1);
	mix-blend-mode: difference;
  }
  60% {
    filter: url(#pixelate) brightness(1.2);
  }
  100% {
    filter: none;
  }
}